

body, html{
    background-color: blueviolet;
    height: 100%;
    margin: 0;
    padding: 0;
    color: cornsilk;
}


a{
    text-decoration: none;
}

.links{
    padding: 0;
    margin: 0;
}

.link{
    display: flex;
    float: left;
    padding: 30px;
    
}

a:link{
    color: aqua;
}

a:visited{
    color: darkred;
}

a:hover{
    color: brown;
}

a:active{
    color: coral;
}

section{
    display: inline-block;
}

table{
    border-collapse: collapse;
    justify-content: center;
}

tr{
    width: 100%;
}

tr:nth-child(odd){
    background-color: #274747;
    color: azure;
}

tr:nth-child(even){
    background-color: cadetblue;
    color: azure;
}

tr:hover{
    background-color: darkblue;
}

th{
    background-color: blue;
    color: azure;
}

th, td{
    border: 1px black solid;
    padding: 5px;
}

.navbar{
    list-style: none;
    margin: 0;
    display: inline-block;
    position: sticky;
    height: 60px;
    width: 100%;
    background-color: blue;
}
.left{
    display: inline-flex;
    float: left;
    padding: 10px;
}

.right{
    display: inline-flex;
    float: right;
    padding: 10px;
}

.input{
    background-color: gray;
    display: block;
    margin-bottom: 3px;
    color: black;
}

.label{
    display: block;
    margin-top: 3px;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.object{
    display: flex;
    padding: 50px 0;
    height: auto;
    width: 500px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    border-radius: 30px;
    color: black;
}

.button{
    margin: 3px 34%;
    padding: 3px 10px;
}

.option{
    color: black;
}