*{
    background-color: blueviolet;
    color: cornsilk;
}

a{
    text-decoration: none;
}

.links{
    padding: 0;
    margin: 0;
}

.link{
    display: flex;
    float: left;
    padding: 30px;
    
}

a:link{
    color: aqua;
}

a:visited{
    color: darkgray;
}

a:hover{
    color: brown;
}

a:active{
    color: coral;
}

section{
    display: inline-block;
}

table{
    border-collapse: collapse;
    
}

tr{
    width: 100%;
}

tr:nth-child(odd){
    background-color: aqua;
    color: azure;
}

tr:nth-child(even){
    background-color: cadetblue;
    color: azure;
}

tr:hover{
    background-color: darkblue;
}

th{
    background-color: blue;
    color: azure;
}

th, td{
    border: 1px black solid;
    padding: 5px;
}

.navbar{
    list-style: none;
    margin: 0;
    display: inline-block;
    height: 50px;
    width: 100%;
}
.left{
    display: inline-flex;
    float: left;
    padding: 10px;
}

.right{
    display: inline-flex;
    float: right;
    padding: 10px;
}

.input{
    background-color: gray;
    display: block;
    margin-bottom: 3px;
}

.label{
    display: block;
    margin-top: 3px;
}