

body, html{
    background-color: #d6bdee;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #2c2c2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
}

.links{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    padding: 5px;
    
}

a:link{
    color: #5c5858;
}


a:visited{
    color: #5c5858;
}

a:hover{
    color: brown;
}

a:active{
    color: coral;
}

section{
    display: inline-block;
}

table{
    border-collapse: collapse;
    justify-content: center;
    width: 100%;
}

tr{
    width: 100%;
}

tr:nth-child(odd){
    background-color: #274747;
    color: azure;
}

tr:nth-child(even){
    background-color: cadetblue;
    color: azure;
}

tr:hover{
    background-color: darkblue;
}

th{
    background-color: blue;
    color: azure;
}

th, td{
    border: 1px black solid;
    padding: 5px;
}

.navbar{
    list-style: none;
    margin: 0;
    display: inline-block;
    top: 0;
    position: sticky;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(#7d7db9, hsl(240, 42%, 55%));
    animation: forwards fade 1s;
}
.left{
    display: inline-flex;
    float: left;
    padding: 10px;
}

.right{
    display: inline-flex;
    float: right;
    padding: 10px;
}

.input{
    background-color: #5b748b;
    display: block;
    margin-bottom: 3px;
    color: black;
    border-radius: 6px;
    box-shadow: 10px 6px 10px gray;
}

.label{
    display: block;
    margin-top: 3px;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.object{
    display: flex;
    padding: 50px 0;
    height: auto;
    width: 500px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(131, 179, 179);
    border-radius: 30px;
    color: black;
    margin: 30px;
    box-shadow: 10  px 5px 10px gray;
    animation: forwards fade 1s;
}

.button{
    margin: 10px ;
    padding: 3px 10px;
    background-color: hsl(202, 29%, 42%);
    border-radius: 10px;
    font-size: 15px;
    width: 50%;
    box-shadow: 10px 6px 10px gray;
}

.option{
    color: black;
}

.large{
    width: 100%;
}

.aside{
    width: 20%;
    border: 1px black solid;
    border-radius: 1% ;
}
.section{
    display: block;
    width: 80%;
    text-align: center;
}

.imagen{
    border-radius: 30%;
}

.button:hover{
    transform: scale(1.05) translateX(-2px) translateY(-2px);
}

.button:active{
    transform: scale(0.95) translateX(-2px) translateY(-2px);
}